body {
  font-family: "Roboto", sans-serif;
}

.web-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}

.studio-header {
  color: #2e2f42;
}

.header > nav > ul {
  list-style: none;
}

.header > ul {
  list-style: none;
}

.header > nav > ul > li > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.header > nav > ul > li > a:hover {
  color: #404bbf;
}

.header > ul > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.header > ul > li > a:hover {
  color: #404bbf;
}

.main > .section1 {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.main > .section1 > h1 {
  font-weight: 700;
  font-size: 56px;
  height: 120px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  color: #fff;
}

.main > .section1 > button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.main > .section1 > button:hover {
  background-color: #404bbf;
}

.main > .section2 > ul > li {
  list-style: none;
}

.main > .section2 > ul > li > h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main > .section2 > ul > li > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main > .section3 {
  background-color: #f4f4fd;
}
.main > .section3 > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.main > .section3 > ul > li {
  list-style: none;
}

.main > .section3 > ul > li > h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main > .section3 > ul > li > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main > .section4 > ul {
  list-style: none;
}

.main > .section4 > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.main > .section4 > ul > li > h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main > .section4 > ul > li > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}

.studio-footer {
  color: #f4f4fd;
}

.footer > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
}
