body {
  font-family: "Roboto", sans-serif;
}

.web-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-decoration: none;
}

.studio-header {
  color: #2e2f42;
}

.header > ul {
  list-style: none;
}

.header > nav > ul {
  list-style: none;
}

.header > nav > ul > li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header > ul > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.main > .section1 > h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  color: #fff;
}

.main > .section1 > button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.main > .section2 > ul > li {
  list-style: none;
}

.main > .section2 > ul > li > h2 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.main > .section2 > ul > li > p {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}

.main > .section3 > h2 {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
}

.main > .section3 > ul > li {
  list-style: none;
}

.main > .section3 > ul > li > h2 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.main > .section3 > ul > li > p {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}

.main > .section4 > .h2 {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
}

.main > .section4 > ul > li > h2 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.main > .section4 > ul {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  list-style: none;
}

.main > .section4 > ul > li > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-decoration: none;
}

.studio-footer {
  color: #f4f4fd;
}
